.success { color: #79a22e !important; }
.info { color: #007bdb !important; }
.danger { color: #e22626 !important; }
.warning { color: #eb5202 !important; }
.offer-amount { font-size: 16px; color: #777777 !important; font-weight: normal; }
